<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 위치 접근 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 사진 접근 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 알림 권한 (선택, Android 13 이상) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 음성 권한-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 기타 필수 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- 시작 화면 - PermissionActivity (첫 실행 시점) -->
        <activity
            android:name=".PermissionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 언어 선택 화면 -->
        <activity
            android:name=".LanguageActivity"
            android:exported="false" />

        <!-- 사용자 선택 화면 -->
        <activity
            android:name=".SigninActivity"
            android:exported="false" />

        <!-- 로그인 화면 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <!-- 회원가입 화면 -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <!-- 비밀번호 찾기 화면 -->
        <activity
            android:name=".FindpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".EmailverificationActivity"
            android:exported="false" />
        <activity
            android:name=".ResetpasswordActivity"
            android:exported="false" />

        <!-- 메인 화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 설정 화면-->
        <activity
            android:name=".SettingActivity"
            android:exported="false"/>

        <!-- Input 화면 -->
        <activity
            android:name=".InputActivity"
            android:exported="false" />

        <!-- Text 화면 -->
        <activity
            android:name=".TextInputActivity"
            android:exported="false" />

        <!-- Voice 화면 -->
        <activity
            android:name=".VoiceInputActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 로딩 화면 -->
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />

        <!-- 결과 화면 -->
        <activity
            android:name=".ResultActivity"
            android:exported="false" />

        <!-- 맵 화면 -->
        <activity
            android:name=".MapActivity"
            android:exported="false" />

    </application>

</manifest>